/* CSS Document */

.blue {
	background-color:#2391EC;
	color:#fff;
	
}

.red {
	background-color:#FF363A;
	color:#fff;
	
}

.green {
	background-color:#00F031;
	COLOR:#FFF;

}

.orange {
	background-color:#F98724;
	color:#fff;
}
.yellow {
	background-color:#F0EF00;
	color:#fff;
}